/* RESETS */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,700&display=swap");
// TODO: Setup typography
// @font-face {
//   font-family: "Barlow",
//   src: url("") format(""), url("") format("");
// }

/* VARIABLES */
// Typography
$body-font-size: 16;
// Colors
$color-primary-dark: #0a47b7;
$color-primary: #147dff;
$color-primary-light: #72bdff;
$color-danger: #ff3a44;
$color-success: #44bc34;
$color-info: #42d6ff;
$color-warning: #fcde46;
$color-black: #000000;
$color-gray-dark: #2e476e;
$color-gray: #8fa3bf;
$color-gray-light: #f5f7fa;
$color-white: #ffffff;
// Responsive Breakpoints
$breakpoints: (
  mobile: 300,
  tablet: 768,
  desktop: 1024
);
// Grid
$grid-gutter: 24;

/* FUNCTIONS */
@function rem-calc($value) {
  @return #{$value/$body-font-size}rem;
}

/* MIXINS */
@mixin breakpoint($breakpoint) {
  @media screen and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
    @content;
  }
}
