/* ABSTRACT */
@import "./abstract/utils";
@import "./abstract/breakpoints";
@import "./abstract/colors";
@import "./abstract/grid";
@import "./abstract/typography";

/* BASE */
@import "./base/resets";
@import "./base/typography";
@import "./base/spacings";

/* COMPONENTS */
@import "./components/buttons";
@import "./components/cards";
@import "./components/alert";
@import "./components/preview-item";

/* LAYOUT */
@import "./layout/header";
@import "./layout/grid";
@import "./layout/flex";
@import "./layout/footer";

body {
  background-color: color(gray-light);
}

.drop-area {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: rem-calc(2) dashed color(gray);
  border-radius: rem-calc(2);
  background-color: color(gray-light);
  min-height: rem-calc(360);
  transition: 0.3s ease-in-out;

  // &:hover,
  &.highlight {
    border-color: color(primary);
    background-color: rgba(color(primary), 0.05);
  }

  &__form {
    input[type="file"] {
      display: none;
    }
  }
}

.preview {
  > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
