.alert {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: color(white);
  border-radius: rem-calc(4);
  padding: rem-calc(12) rem-calc(24);
  z-index: 2;
  box-shadow: rem-calc(4) rem-calc(4) rem-calc(24)
    rgba($color: color(black), $alpha: 0.25);
  transform: translateY(200%);
  transition: 0.3s ease-in-out;

  @include breakpoint(large) {
    padding: rem-calc(24);
  }

  &.visible {
    transform: translateY(0);
  }
}
